https://git.devops.local {
	tls internal
	reverse_proxy gitlab:80
}

https://registry.devops.local {
	tls internal
	reverse_proxy gitlab:80
}

https://cloud.devops.local {
	tls internal
	reverse_proxy nextcloud:80
}

https://files.devops.local {
	tls internal
	reverse_proxy filebrowser:80
}
